@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --element-color-rgb: 224, 221, 202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 60, 61, 66;
    --background-end-rgb: 60, 61, 66;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #fff;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(20.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(20.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* header style */
.home-header{
  background-color: #fff;
  z-index: 2;
  height: 80px;
}
.header-l, .header-r{
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  display: block;
  height: auto;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  height: 100%;
}
.text{
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.category-items{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.advertise{
  border: 2px solid #0069FE;
}
.advertise:hover{
  box-shadow: 0px 8px 10px -4px rgba(0,0,0,0.1);

}

.history-list{
  height: 200px;
}

.navigation-bottom{
  height: 50px;
  position: fixed;
  background-color: transparent;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: .25rem;
  z-index: 2;
}

.history-item{
  background-color: rgb(var(--element-color-rgb));
}

.btn-nav{
  padding: 2px;
  margin: 3px;
  font-weight: bold;
  transition: .2s;
}
.active{
  transform: scale(1.15);
  background-color: #0069FE;
  color: #fff;
  padding: 3px;
  border-radius: .25rem;
  animation: moveInBottom .2s ease-out;
  animation-fill-mode: backwards;
  
}
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
.search-box{
  position: relative;
  /* width: 400px; */
}
.search-input{
  transition: 0.2s;
}
.search-input input{
  transition: .1s;
}
.search-input input:focus{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 4px;
}
.search-input svg{
  right: 20px;
}
/* E-list */
.e-food{
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 900px;
}
.e-food .title{
  font-size: 18px;
}
.item:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.color-palete{
  font-size: 14px;
}

video {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.scan{
  width: 200px;
  height: 150px;

  background:
    linear-gradient(to right, #F6F8E2 4px, transparent 4px) 0 0,
    linear-gradient(to right, #F6F8E2 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #F6F8E2 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #F6F8E2 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #F6F8E2 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #F6F8E2 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #F6F8E2 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #F6F8E2 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.common{
  width: 580px;
}

@media screen and (max-width: 850px) {
  .common{
    width: 360px;
  }
}

.setting-item{
  box-shadow: 0px 8px 10px -4px rgba(0,0,0,0.1);
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0069FE;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0069FE;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.desc-show{
  position: fixed;
  bottom: 21%;
  top: 21%;
  right: 16%;
  z-index: 2;
  display: none;
}
#overlay{
  display: none;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.scan-notif{
  box-shadow: 0px 8px 10px -4px rgba(0,0,0,0.1);
}
.contactus{
  width: 900px;
}
.why-section{
  width: 900px;
}
@media screen and (max-width: 1000px) {
  .title{
    font-size: 30px;
  }
  .sub-title{
    font-size: 20px;
  }
  .home-header{
    justify-content: space-between;
  }
  .why-section{
    width: 700px;
  }
  .e-food{
    width: 700px;
  }
  .contactus{
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .why-section{
    width: 400px;
  }
  .e-food{
    width: 500px;
  }
  .contactus{
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .why-s-icon{
    display: none;
  }
  .why-section{
        justify-content: center;
  }
  .e-food{
    width: 350px;
  }
  .contactus{
    width: 370px;
  }
  .accordion{
    width: 350px;
  }
}
.halal{
  background-color: rgb(74 222 128);
}
.haram{
  background-color: rgb(248 113 113);
}
.mushbooh{
  background-color: rgb(251 146 60);
}
.accordion{
  width: fit-content;
}